{% extends '/frontend/File/show.html.twig' %}

{% block show_action %}
    <button type="submit" class="btn btn-default"><i class="fa fa-check"></i> {{ 'action.check_password' | trans }}</button>
{% endblock %}
