{% extends 'base.html.twig' %}
{% import 'macros/elements.html.twig' as elements %}


{% block header_title %}
    {% trans with {'%folders%': folders|length, '%files%': files|length} %}
        <h1>Main folder<small>%folders% folders - %files% files</small></h1>
    {% endtrans %}
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-12">
            <ul class="file-list">
                {% for folder in folders %}
                    {{ elements.folder(folder) }}
                {% endfor %}
                {% for file in files %}
                    {{ elements.file(file) }}
                {% endfor %}
            </ul>
        </div>
    </div>
{% endblock %}