{% import 'macros/elements.html.twig' as elements %}

<div class="pull-right hidden-xs">
        {{ __('label.statistics', statistics['files'], { '%total%': elements.bytesToSize(statistics['total']) }) }}
</div>
