{% import 'macros/elements.html.twig' as elements %}

<div class="pull-right hidden-xs">
        {{ 'label.statistics' | transchoice(statistics['files'], { '%total%': statistics['total'] | size }) }}
</div>
