{% extends 'base.html.twig' %}
{% block mainContent %}
    <div class="content">
        <div class="row">
            {% render controller("FOSUserBundle:Security:login") %}

        </div>
    </div>
{% endblock %}
