@import url("http://fonts.googleapis.com/css?family=Lato:100,300,400,700,900,400italic");

/* FILE */

.file-list {
   list-style: none;
   font-family: 'Lato', sans-serif;
   margin: 0px;
   padding: 0px;
 }


.file-list > li {
   background-color: rgb(255, 255, 255);
   box-shadow: 0px 0px 5px rgb(51, 51, 51);
   box-shadow: 0px 0px 5px rgba(51, 51, 51, 0.7);
   padding: 0px;
   margin: 0px 0px 20px;
 }
.file-list > li > .square  {
   display: none;
   width: 100%;
   color: #dadada;
   background-color: #ffffff !important;
   padding: 5px;
   text-align: center;
   text-transform: uppercase;
 }
.file-list > li > .square  > span {
   display: none;
 }
.file-list > li > .square  > .icon {
   display: block;
   font-size: 50pt;
   font-weight: 100;
 }
.file-list > li > img {
   display: none;
 }
.file-list > li > .info {
   padding-top: 5px;
   text-align: center;
 }
.file-list > li > .info > .title {
   font-size: 17pt;
   font-weight: 700;
   margin: 0px;
   display: block;
   overflow: hidden;
   text-overflow: ellipsis;
   white-space: nowrap;
 }
.file-list > li > .info > .desc {
   font-size: 10pt;
   font-weight: 300;
   margin: 0px;
 }
.file-list > li > .info > ul,
.file-list > li > .actions > ul {
   display: table;
   list-style: none;
   margin: 10px 0px 0px;
   padding: 0px;
 }
.file-list > li > .actions > ul {
   margin: 0px;
   text-align: center;
   width: 100%;
   border-left: 1px solid rgb(230, 230, 230);
   height: 100px;
 }

.file-list > li > .info > ul > li,
.file-list > li > .actions > ul > li {
   display: table-cell;
   color: rgb(30, 30, 30);
   font-size: 11pt;
   font-weight: 300;
     padding: 3px 0px;
 }
.file-list > li > .info > ul > li {
   padding-left: 10px;
 }
.file-list > li > .info > ul > li > a {
   display: block;
   width: 100%;
   color: rgb(30, 30, 30);
   text-decoration: none;
 }
.file-list > li > .actions > ul > li {
     padding: 0px;
 }
.file-list > li > .actions > ul > li > a {
     padding: 3px 0px;
 }
.file-list > li > .actions > ul > li:hover {
   color: rgb(30, 30, 30);
   background-color: rgb(200, 200, 200);
 }
.action a,
.share a,
.trash a {
   display: block;
   width: 100%;
   color: rgb(75, 110, 168) !important;
 }
.share a {
   color: rgb(100, 153, 79) !important;
 }
.trash a {
   color: rgb(221, 75, 57) !important;
 }
.action:hover a {
   color: rgb(255, 255, 255) !important;
   background-color: rgb(75, 110, 168) !important;
 }
.share:hover a {
   color: rgb(255, 255, 255) !important;
   background-color: rgb(100, 153, 79) !important;
 }
.trash:hover a {
   color: rgb(255, 255, 255) !important;
   background-color: rgb(221, 75, 57) !important;
 }

.file-list > li > .actions {
   position: absolute;
   top: 0px;
   right: 0px;
   display: block;
   width: 33px;
 }

.file-list > li > .actions > ul > li {
   display: block;
       padding: 0px;
 }
.file-list > li > .actions > ul > li > a {
   display: block;
   width: 33px;
   padding: 6px 0px;
 }

  .file-list > li {
       position: relative;
       display: block;
       width: 100%;
       height: 100px;
       padding: 0px;
     }

.file-list > li > .info {
     background-color: rgb(245, 245, 245);
     overflow: hidden;
   }
  .file-list > li > .square ,
  .file-list > li > img {
       width: 100px;
       height: 100px;
       padding: 0px;
       margin: 0px;
     }


  .file-list > li > .info {
       position: relative;
       height: 100px;
       text-align: left;
       padding-right: 40px;
     }
  .file-list > li > .info > .title,
  .file-list > li > .info > .desc {
       padding: 0px 10px;
     }
  .file-list > li > .info > ul {
       position: absolute;
       left: 0px;
       bottom: 0px;
       padding: 0px;
     }

@media (min-width: 768px) {

  .file-list > li > .square ,
  .file-list > li > img  {
       display: inline-block;
     }
  .file-list > li > .square ,
  .file-list > li > img {
       width: 100px;
       float: left;
     }

}

/********************/
/* Upload file list */

/* Methods */
.method .header, .method .cell {
    padding: 6px 6px 6px 10px; }
.method .list-header .header {
    font-weight: normal;
    text-transform: uppercase;
    font-size: 0.85em;
    color: #999;
    background-color: #eee; }
.method [class^="row"],
.method [class*=" row"] {
    border-bottom: 1px solid #ddd; }
.method [class^="row"]:hover,
.method [class*=" row"]:hover {
    background-color: #f7f7f7; }
.method .cell {
    font-size: 0.85em; }
.method .cell .mobile-isrequired {
    display: none;
    font-weight: normal;
    text-transform: uppercase;
    color: #aaa;
    font-size: 0.8em; }
.method .cell .propertyname {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis; }
.method .cell .type {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis; }
.method .cell code {
    color: #428bca; }
.method .cell a, .method .cell a:hover {
    text-decoration: none; }
.method .cell code.custom {
    color: #8a6d3b;
    text-decoration: none; }
.method .cell .text-muted {
    color: #ddd; }
.method .progress {
    margin: 7px 0 0; }
@media (max-width: 991px) {
    .method [class^="row"],
    .method [class*=" row"] {
        padding-top: 10px;
        padding-bottom: 10px; }
    .method .cell {
        padding: 0 10px; }
    .method .cell .propertyname {
        font-weight: bold;
        font-size: 1.2em; }
    .method .cell .propertyname .lookuplink {
        font-weight: normal;
        font-size: 1.5em;
        position: absolute;
        top: 0;
        right: 10px; }
    .method .cell .type {
        padding-left: 10px;
        font-size: 1.1em; }
    .method .cell .isrequired {
        padding-left: 10px;
        display: none; }
    .method .cell .description {
        padding-left: 10px; }
    .method .cell .mobile-isrequired {
        display: inline; } }


/* Row Utilities */
[class^='row'].margin-0,
[class*=' row'].margin-0,
[class^='form-group'].margin-0,
[class*=' form-group'].margin-0 {
    margin-left: -0px;
    margin-right: -0px; }
[class^='row'].margin-0 > [class^='col-'],
[class^='row'].margin-0 > [class*=' col-'],
[class*=' row'].margin-0 > [class^='col-'],
[class*=' row'].margin-0 > [class*=' col-'],
[class^='form-group'].margin-0 > [class^='col-'],
[class^='form-group'].margin-0 > [class*=' col-'],
[class*=' form-group'].margin-0 > [class^='col-'],
[class*=' form-group'].margin-0 > [class*=' col-'] {
    padding-right: 0px;
    padding-left: 0px; }
[class^='row'].margin-0 [class^='row'],
[class^='row'].margin-0 [class*=' row'],
[class^='row'].margin-0 [class^='form-group'],
[class^='row'].margin-0 [class*=' form-group'],
[class*=' row'].margin-0 [class^='row'],
[class*=' row'].margin-0 [class*=' row'],
[class*=' row'].margin-0 [class^='form-group'],
[class*=' row'].margin-0 [class*=' form-group'],
[class^='form-group'].margin-0 [class^='row'],
[class^='form-group'].margin-0 [class*=' row'],
[class^='form-group'].margin-0 [class^='form-group'],
[class^='form-group'].margin-0 [class*=' form-group'],
[class*=' form-group'].margin-0 [class^='row'],
[class*=' form-group'].margin-0 [class*=' row'],
[class*=' form-group'].margin-0 [class^='form-group'],
[class*=' form-group'].margin-0 [class*=' form-group'] {
    margin-left: 0;
    margin-right: 0; }
